BODY {
	background-color: #FFF;
	background-image:none;
	margin:0;
	padding:0;
	font-family: Geneva, Arial, sans-serif;
	font-size:14px;
}

h2 {
	font-size:18px;
	margin-top:20px;
}

.col-center {
	float:left;
	width:630px;
}

body.no-sidebars div.col-center, body.no-sidebars div.contentblocks {
	width:895px;
}

body.no-sidebars div.coll-title {
	width:855px;
}

div.node {
	margin:0;
	padding:0;
}

#fillwidth {
	position:absolute:
	width: 100%;
}

#centered {
	width:895px;
	margin:auto;
}

#header {
	margin:0;
	margin-top:10px;
	/*change settings for new logo*/
	width:895px;
	/*height:49px;*/
}

#header img {
	width: 100%;
}

.superhead {
	font-size:16px;
	margin-bottom:5px;
	
}
.headline {
	font-size:20px;
	margin-bottom:12px;
}
.highlightcolor {
	color: #00A0B3;
}
.submitted {
	font-size:11px;
	font-style:italic;
}

div.views-field-title, h2 {
	margin-top:0px;
	text-decoration:none;
	color:#000;
	font-size:18px;
	padding-bottom:5px;
}

div.views-field-body {
	margin-bottom: 50px;
}

div.views-field-title a, h2 a, h2 a:visited {
	text-decoration:none;
	color:#000;
}
div.views-field-title a:hover {
	color:#00A0B3;
}


.col-right {
	margin-top:200px;
	float:right;
	clear:right;
	width:240px;
	font-size:11px;
	font-decoration:none;
}

.col-right div.views-field-title {
	margin-top:0px;
	text-decoration:none;
	color:#000;
	font-size:12px;
	padding-bottom:5px;
}

.col-right div.views-field-title a {
	text-decoration:none;
	color:#000;
	font-size:12px;
}

div.views-field-created {
	font-size:11px;
	margin-bottom:10px;
}

div.field-field-arcpage-title p {
	font-family: "Helvetica Neue", Arial,Helvetica;
	font-size:24px;
	margin:0;
	padding:0;
	margin-top:5px;
}

div.field-field-arcpage-image {
	width:630px;
	overflow:visible;
}

div.field-field-arcpage-descriptive p {
	color:#888;
	font-size:12px;
	margin:0;
	padding:0;
	margin-top:5px;
}

div.field-field-arcpage-descriptive {
	/*remove padding, since we moved this above the banner*/
	/*padding-bottom: 20px;*/
	text-align: center;
}

div.field-field-arcpage-content {
	font-size:14px;
	margin:0;
	padding:0;
	margin-top:30px;
}

.tableitem, tbody {
	border:0;
}

.tableitem td {
	padding-right:20px;
}

.tableitem p {
	margin-top:0;
	padding-top:0;
}

td {
	vertical-align:top;
}
div.contentblocks {
	width: 630px;
	float:left;
}

/*allow screen to shrink elements below 895px*/

@media all and (max-width:895px)  {
	.col-center {
	float:left;
	width:99.3%;
}
	body.no-sidebars div.col-center, body.no-sidebars div.contentblocks {
		width: 99.3%;
	}	
	body.no-sidebars div.coll-title {
		width: 99.3%;
	}
	#centered {
	width:99.3%;
	margin:auto;
}
	body.no-sidebars div.coll-title {
	width:99.3%;
}
	#header {
	margin:0;
	margin-top:10px;
	/*change settings for new logo*/
	width:99.3%;
	/*height:49px;*/
}
}

/* RIPOSTES */
.resource-icon, .resource-title, .coll-icon, .coll-title {
	float:left;
}
.resource-icon a, .resource-title a, .coll-icon a, .coll-title a {
	text-decoration:none;
	color:#000;
	font-size:12px;
}
.contentblocks .resource-icon a, .contentblocks .resource-title a, .contentblocks .coll-icon a, .contentblocks .coll-title a {
	text-decoration:none;
	color:#000;
	font-size:18px;
}
.contentblocks .coll-title p {
	font-size:14px;
}
.resource-title, .coll-title {
	width:200px;
	margin-left:10px;
}
.contentblocks .resource-title, .coll-title {
	width:590px;
	margin-left:10px;
}
.resource-item {
	width:250px;
	clear:left;
	padding-bottom:30px;
}

#block-views-latestresources-block_1, #block-views-latestproblems-block_1 {
	clear:left;
	margin-bottom:50px;
}

/* ARC STUDIO */
div.view-ARC-studio div.views-row, div.view-ARC-cases div.views-row {
	float:left;
	width:190px;
	height:120px;
	margin-right:20px;
}

#block-views-ARC_studio-block_1 a, #block-views-ARC_cases-block_1 a, #block-views-ARC_pathways-block_1 a {
	text-decoration:none;
	color:#000;
	font-size:14px;
}

#footer {
	clear:both;
	width:100%;
	max-width: 895px;
	margin: auto;
}

table a, table a:visited, table a:link {
	text-decoration: none;
	color:#000;
}

/* COUNTERPOINT CONTENT */
div.views-field-field-counterpoint-left-value {
	width:440px;
	float:left;
}
div.views-field-field-counterpoint-right-value {
	width:440px;
	float:right;
}

div.view-Counterpoints div.views-row {
	border-top: 1px #888 solid;
	border-bottom: 1px #888 solid;
	padding-top:20px;
	padding-bottom:10px;
	background-color:#eee;
	overflow:auto;
}

div.view-Counterpoints div.views-field-title {
	text-align:center;
	padding-left:20px;
	padding-right:20px;
}

div.view-Counterpoints div.views-field-field-counterpoint-intro-value {
	text-align:justify;
	padding-left:40px;
	padding-right:40px;
}

/*styling for new version of basic page "Welcome", displayed on front page*/
body {
  margin: 0 0 0 0;
  color: black;
  background-color: #ffffff;
  font-family: Geneva, arial, sans-serif;
  text-rendering: optimizeLegibility;
}

/*give image width here instead of page.tpl.php*/
.imagefield-field_arcpage_image {
	width: 100%;
	height: auto;
}

.grid-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.tile {
  position: relative;
  width: 22%;
  height: 70px;
  margin: 4px;
  -webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

.tile:hover {
	background-color: #b3b3b3 !important;
}

.blank:hover {
	background-color: #ffffff !important;
}

.tile-title {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 12px;
  left: 50%;
}


.tile-title p {
  margin: auto;
}

.floatLeft {
  float: left;
}

#about {
  background: rgb(44, 44, 44);
  top: 14px;
}

#posts {
  background: rgb(67, 67, 67);
}

#studios {
  background: rgb(130, 130, 130);
}

#arc-documents {
  background: rgb(154, 154, 154);
}

#bios-technika {
  background: rgb(115, 115, 115);
}
   
#labinar {
  background: rgb(130, 130, 130);
}
   
#contemporary {
     background: rgb(76, 76, 76);
}
   
#rabinow {
  background: rgb(11, 9, 24);
  top: 14px;
}

#stavrianakis {
  background: rgb(117, 114, 100);
}

#fisher {
  background: rgb(64, 34, 21);
}

#korsby {
  background: rgb(127, 103, 90);
}

#johnsrud {
  background: rgb(132, 135, 142);
}
   
#krause {
  background: rgb(90, 91, 96);
}
   
#shoked {
     background: rgb(59, 55, 39);
}


@media all and (max-width:680px) {
  .tile {
    width: 99.3%;
    margin-bottom: 1%;
    margin: 0;
    height: 70px;
  }
  .blank {
    display: none;
  }
  #rabinow, #about {
  	top: 0;
  }
}

/*styles for interventions block (formerly called recent posts)*/
.view-ARC-recent-posts {
	margin-left: 4px;
	padding-top: 10px;
	max-width: 895px;
	margin: auto;
}

.view-ARC-recent-posts tbody {
	display: block;
}

.view-ARC-recent-posts table {
	display: block;
}


.view-ARC-recent-posts .view-header {
	width: 22%;
	float: left;
	text-align: center;
	height: 70px;
	background: rgb(154, 154, 154);
	-webkit-transition: background-color 0.5s ease;
  	-moz-transition: background-color 0.5s ease;
  	-o-transition: background-color 0.5s ease;
  	transition: background-color 0.5s ease;
}

.view-ARC-recent-posts .view-header:hover {
	background-color: #b3b3b3 !important;
}

.view-ARC-recent-posts .view-header p {
	color: red;
	font-size: 12px;
}

.view-ARC-recent-posts .view-header p {
	position: relative;
	top: 30%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}



.view-ARC-recent-posts tr {
	width: 22.11%;
	float: left;
	height: 70px;
	margin-left: 8px;
	background: rgb(154, 154, 154);
	display: block;
	text-align: center;
	padding: 0;
	-webkit-transition: background-color 0.5s ease;
  	-moz-transition: background-color 0.5s ease;
  	-o-transition: background-color 0.5s ease;
  	transition: background-color 0.5s ease;
}

.view-ARC-recent-posts tr:hover {
	background-color: #b3b3b3 !important;
}

.view-ARC-recent-posts th, thead {
	display: none;
}

.view-ARC-recent-posts td.views-field.views-field-title {
	position: relative;
	display: block;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	background: none;

}


.view-ARC-recent-posts td.views-field.views-field-title a {
	color: #ffffff;
	font-size: 12px;
}

/*for twitter icon*/



.twitter-icon {
	height: 50px;
	width: 50px;
	background: rgb(154, 154, 154);
	clear: left;
	border-radius: 50%;
}

.twitter-icon img {
	height: auto;
	width: 100%;
}

#block-block-24 {
	margin-top: 90px;
	width: 120px;
}

/*for facebook icon*/
.facebook-icon {
	height: 50px;
	width: 50px;
	background: rgb(154, 154, 154);
	clear: left;
	border-radius: 50%;
	position: relative;
	transform: translateY(-100%);
	-webkit-transform: translateY(-100%);
	float: right;
}

.facebook-icon img {
	height: auto;
	width: 100%;
}

@media all and (max-width:680px) {
	.view-ARC-recent-posts .view-header {
		width: 99%;
		border-top: 5px solid white;
	}
	.view-ARC-recent-posts tr {
		width: 99%;
		margin-left: 0;
		margin-top: 5px;
	}
}